/*
dark gray = #444545
light gray = #c9c9c9
red = #e71d36
green/blue = #b5ffe9
blue-gray = #9999c3
*/

body{
    display: flex;
    justify-content: center;
}

.calculator-body{
    background-color: #444545;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    gap: 16px;
}

.display{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    background-color: #c9c9c9;
    height: 100px;
    padding: 0px 8px 0px 8px;
}

.calculations{
    font-size: 24px;
    font-family: Prompt, Roboto, Times;
}

.button-container{
    display: flex;
    gap: 4px;
}

.button-rows{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row{
    display: flex;
    gap: 4px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.buttons{
    background-color: #c9c9c9;
    border-radius: 50px;
    height: 64px;
    width: 64px;
    border-style: solid;
    border-color: #9999c3;
    font-size: 24px;
    font-family: Prompt, Roboto, Times;
    cursor: pointer;

}

.buttons:hover{
    background-color: #b1b1b1;
}

.buttons:active{
    background-color: #a1a1a1;
    border-color: black;
    color: white;
}

#zero{
    width: 132px;
}

#plus, #equal{
    height: 132px;
}