/*
dark gray = #444545
light gray = #c9c9c9
red = #e71d36
green/blue = #b5ffe9
blue-gray = #9999c3
*/

body{
    display: flex;
    justify-content: center;
}

.calculator-body{
    background-color: #444545;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 900px;
}