/*
dark gray = #444545
light gray = #c9c9c9
red = #e71d36
green/blue = #b5ffe9
blue-gray = #9999c3
*/

body{
    display: flex;
    justify-content: center;
}

.calculator-body{
    background-color: #444545;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 32px;
}

.display{
    background-color: #c9c9c9;
    width: 500px;
    height: 100px;
}

.buttons{
    background-color: #c9c9c9;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: #9999c3;
}